<!DOCTYPE html>
<html>

<head>
	<title>Flask</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<link rel="stylesheet" type="text/css" href="../static/css/index.css">
	<script src="../static/js/jquery.min.js"></script>
	<script src="../static/js/script.js"></script>
</head>

<body style="overflow:hidden;">
<!-- 	<a href="#">
		<h1>mytest 哈哈哈:{{str}}</h1>
	</a> -->
	<a href="/login">
		<h1>login</h1>
	</a>
	<p>{{lst}}</P>
	<canvas>

	</canvas>
</body>

</html>

